/* UserDashboard.css */

body {
    background-color: #fff;
    font-family: 'Viga', sans-serif;
    color: black; /* Set default text color */
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 15px;*/
    background-color: #3498db;
    color: white;
    width: 100%;
  }
  
  .company-info {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 2rem;
  }
  
  .company-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* Body container styles */
  .body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  .left-half {
    width: 45%;
  }
  
  .find-land-button {
    padding: 10px;
    font-size: 16px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .landscape-pic {
    width: 600px;
    height: 600px;
  }
  
  /* Previous Lands styles */
  .previous-lands {
    margin: 50px;
  }
  
  .land-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Footer styles */
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  