* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }


  
.btn{
    font-weight: 500;
    padding: 0.6rem 1.4rem ;
    color: rgb(0, 126, 168);
    background: rgb(240, 244, 255);
    border: 1px solid  blue;
    border-radius: 4px;
    transition: all 300ms ease-in;
  }

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .navbar{
    justify-content: space-between;
    width:100%;
    left:1.8rem;
    padding-bottom: 1rem;
   
}

.circle {
    height: 4rem;
    width: 4rem;
    background: blue;
    border-radius: 999px;
    position: absolute;
    right: 2.5%;
    bottom: 65%;
    z-index: -1;
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(-5px) translateX(2px);
    }
    100% {
        transform: translateY(10px) translateX(-10px);
    }
}


.cards{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    transition: all 300ms ease-in;
}

.cards1:hover{
    transform: scale(1.1);
    color: aquamarine;
    color: rgba(120,120,120,0.5);
}

.cards1{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    transition: all 300ms ease-in;
}

.cards2{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    transition: all 300ms ease-in;
}

.cards2:hover{
    transform: scale(1.1);
    color: rgba(120,120,120,0.5);
}

.cards3{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    transition: all 300ms ease-in;
}

.cards3:hover{
    transform: scale(1.1);
    color: rgba(120,120,120,0.5);
}

.cards4{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    transition: all 300ms ease-in;
}

.cards4:hover{
    transform: scale(1.1);
    color: rgba(120,120,120,0.5);
}

.container{
    width: 100%;
}
#footer{
    width:1688px;
}

.hero-div{
    width: 250px;
}

#root{
    width: 100%;
}