.wrapper{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow-x: hidden;
    /* position: relative; */
    /* bottom: 40px; */
}

.logo{
    margin-top: -1rem;
    margin-right: 1rem;
    object-fit: cover;
    max-width: 2rem;
}

.sub-nav{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.nav-element{
    color: rgb(0, 103, 192);
    cursor: pointer;
    transition: all 200ms linear;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

.logout{
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 103, 192);
    transition: all 200ms linear;
}

.logout:hover{
    color: blue;
    transition: all 200ms linear;
}

.nav-element:hover{
    color: blue;
  
}

.nav-first{
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;

}