.wrapper{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    bottom: 40px;
}

.logo{
    width: 60px;
}

.sub-nav{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.nav-element{
    color: rgb(0, 103, 192);
    cursor: pointer;
    transition: all 200ms linear;
    font-weight: bold;
    font-size: 1.5rem;
}

.logout{
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 103, 192);
    transition: all 200ms linear;
}

.logout:hover{
    color: blue;
    transition: all 200ms linear;
}

.nav-element:hover{
    color: blue;
}

.nav-first{
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;

}