@font-face {
    font-family: "Roboto";
    src: url('../../assets/Roboto-Regular.ttf');
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    max-width: 30%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.land-img{
    width: 50%;
    object-fit: cover;
}

.land-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.land-head{
     font-weight: bold;
     font-size: 1.5rem;
     font-style: "Roboto";
}

.land-desc{
    font-weight: 400;
    font-size: 1rem;
    font-style: "Roboto";
}

.address{
    font-weight: 200;
    font-size: 0.7rem;
    font-style: "Roboto";
}

.appointment{
    font-weight: bold;
    font-style: "Roboto";
}

.yes-no{
    font-weight: 300;
}

.price{
    color:  #008000;
    font-weight: bolder;
    font-style: "Roboto";
}